.cart{
    margin-left: 140px;
    padding: 20px;
}
.cart .cart-item{
    height: 200px;
    width: 800px;
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    background-color: rgb(13, 11, 16);
    margin-bottom: 16px;
}
.cart .cart-item img{
    width: 200px;
    height: 200px;
    border-radius: 6px;
    
}
.cart .cart-item h3{
    background-color: rgb(13, 11, 16);
    color: white;
    padding: 20px;
}
.cart .cart-item p{
    background-color: rgb(13, 11, 16);
    color: blueviolet;
    margin: 20px;
}
.cart .cart-item button{
    cursor: pointer;
    float: right;
    height: 30px;
    width: 60px;
    margin: 20px;
    color: white;
    background-color: rgb(34, 29, 41);
    border-radius: 4px;
    border: 2px;
}
.cart .cart-item .details{
    display: flex;
    flex-direction: column;
    background-color: rgb(13, 11, 16);
}
.cart .total-price{
    color: white;
}
.cart p{
    color: white;
}